<div class="container">
	<div class="hero-unit">
		<h3>Listing Answers</h3>

		<table class="table table-striped display">
			<thead>
				<tr>
				  <th>NO</th>
				  <th>Username</th>
				  <th>Answer</th>
				  <th>Created at</th>
				  <th>Updated at</th>
				</tr>
			 </thead>
		     <tbody>

			  
			   <% @anket.each do |anket| %>
				  
				  
				  <tr>
					<td><%= anket.userid %></td>
					<td><%= anket.name %></td>
					<td><%= anket.answer %></td>
					<td><%= anket.created_at %></td>
					<td><%= anket.updated_at %></td>
				  </tr>
			   <% end %>
			</tbody>
		</table>
	</div>
</div>
