<h1>Listing ankets</h1>

<table>
  <tr>
    <th>Answer</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @ankets.each do |anket| %>
  <tr>
    <td><%= anket.answer %></td>
    <td><%= link_to 'Show', anket %></td>
    <td><%= link_to 'Edit', edit_anket_path(anket) %></td>
    <td><%= link_to 'Destroy', anket, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Anket', new_anket_path %>
