<script type="text/javascript">
	//var austDay = new Date( new Date().getTime() + <%= 15.minutes.to_i * 1000 %> );
        var now = new Date().getTime();
        var austDay = new Date( (<%= @time_finish.to_i %> - (<%= Time.now.to_i %> - now/1000 )) * 1000);

        $(function () {
            $('#clock').countdown({
                format: 'MS',
                until: austDay,
                expiryUrl: location.protocol + '//' + location.host + '/finish/',
		compact: true
              });
        });
</script>

<div style="position:absolute;top:420px;left:530px;">
    <div id="clock" style="width: 240px; height: 45px;"></div>
</div>


<div class="container">

	<div class="hero-unit" style = "position:absolute;top:80px;left:330px;" >
		
		<h2 style = "color:#990033">Cevabınız <span style="color:green;font-weight:bold;"><%= @anket.answer  %></span>  Olarak Kaydedilmiştir. </h2>
		
	</div>
	
	<div class="row" style= "position:absolute;top:280px;left:600px;">
	
        <%= button_to "DEĞİŞTİR", anket_path, :class => 'btn btn-large btn-success', style: "width:120px;position:relative;top:50px;left:-1.5in;" %>
        <%= button_to "ÇIKIŞ", logout_url, :class => 'btn btn-large btn-danger', style: "width:120px;position:relative;top:-10px;left:1.5in;" %>
        
    </div>

</div>



